<div id="private-manager">
    <div id="private-manager-header">
        <div id="private-manager-menu">
            <button id="id-5EjQeSuIQrRWLx6J4IOQIl"><del>Import</del></button>
            <button id="id-3rTZdFdxjcWXsrIpFFkaTj">Export</button>
            <button id="id-21cIRHGf0zjwRNUMZye2F8" style="margin-left: auto;">Close</button>
        </div>
    </div>
    <fieldset>
        <legend>Entity Editor</legend>
        <div>
            <label for="id-2iB1fu5I8X0uE71RUNXjkV">Entity ID: </label>
            <input id="id-2iB1fu5I8X0uE71RUNXjkV" type="text" autocomplete="off" maxlength=22 />
        </div>
        <div>
            <label for="id-1ilMellLqQg27kkGPQVFmG">Entity: </label>
            <textarea id="id-1ilMellLqQg27kkGPQVFmG" wrap="off" style="min-height: 250px;"></textarea>
            <div class="private-manager-control-wrapper">
                <button id="id-3F5CVe3tnFadXKSNxNDJYA" style="margin-left: auto;">Reset</button>
                <button id="id-0W4rZ284okFhNi3wEwsRdO">New ID</button>
                <button id="id-2QEfF3VjOq5mStkqEMaFRO">Save</button>
                <button id="id-1Q5TS3PdxDME4YF92Rayl0">Remove</button>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Entity Template</legend>
        <div>
            <label for="id-6kYDDAzRbke7m1Rb1Rvqkp">Entity Type: </label>
            <input id="id-6kYDDAzRbke7m1Rb1Rvqkp" type="text" autocomplete="off" list="id-00q3kS1yS9sr0REdzzkDlw" />
            <datalist id="id-00q3kS1yS9sr0REdzzkDlw"></datalist>
        </div>
        <div>
            <label for="id-1Stir8sO6QnPpV8xcyimeG">Template: </label>
            <textarea id="id-1Stir8sO6QnPpV8xcyimeG" wrap="off" style="min-height: 180px;"></textarea>
            <div class="private-manager-control-wrapper">
                <button id="id-3597Oai8C2I4bKXVQShv50" style="margin-left: auto;">Reset</button>
                <button id="id-5sBvAZMWtngtuHx0SPEwKM">Copy</button>
            </div>
        </div>
    </fieldset>
</div>
