<div id="private-manager">
    <div id="private-manager-header">
        <div id="private-manager-menu">
            <button id="id-5EjQeSuIQrRWLx6J4IOQIl"><del>Import</del></button>
            <button id="id-3rTZdFdxjcWXsrIpFFkaTj">Export</button>
            <button id="id-21cIRHGf0zjwRNUMZye2F8" style="margin-left: auto;">Close</button>
        </div>
    </div>
    <fieldset>
        <legend>Generate UUIDv4</legend>
        <div>
            <label for="id-5nbkkGt7ynI5Oo1NcBH6FJ">New UUIDv4: </label>
            <input id="id-5nbkkGt7ynI5Oo1NcBH6FJ" type="text" maxlength=22 readonly />
            <div class="private-manager-control-wrapper">
                <button id="id-0Cv5QSHRMtLp05bV0WAHoF" style="margin-left: auto;">Copy to Clipboard</button>
                <button id="id-0W4rZ284okFhNi3wEwsRdO">Generate New</button>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>View Entity</legend>
        <div>
            <label for="id-2iB1fu5I8X0uE71RUNXjkV">Entity ID: </label>
            <input id="id-2iB1fu5I8X0uE71RUNXjkV" type="text" autocomplete="off" maxlength=22 />
        </div>
        <div>
            <label for="id-1ilMellLqQg27kkGPQVFmG">Entity: </label>
            <textarea id="id-1ilMellLqQg27kkGPQVFmG" wrap="off" readonly></textarea>
        </div>
    </fieldset>
    <fieldset>
        <legend>Create Entity</legend>
        <div>
            <label for="id-6kYDDAzRbke7m1Rb1Rvqkp">Entity Type: </label>
            <input id="id-6kYDDAzRbke7m1Rb1Rvqkp" type="text" autocomplete="off" list="id-00q3kS1yS9sr0REdzzkDlw" />
            <datalist id="id-00q3kS1yS9sr0REdzzkDlw"></datalist>
        </div>
        <div>
            <label for="id-1Stir8sO6QnPpV8xcyimeG">Template: </label>
            <textarea id="id-1Stir8sO6QnPpV8xcyimeG" wrap="off"></textarea>
        </div>
    </fieldset>
</div>
