<div id="private-tools">
    <div id="private-tools-header">
        <div id="private-tools-menu">
            <div id="private-tools-close" class="private-tools-menu-item">close</div>
        </div>
    </div>
    <fieldset>
        <legend>View Entity</legend>

        <label for="private-tools-entity-id">Entity ID: </label>
        <input id="private-tools-entity-id" type="text" maxlength=22 />

        <label for="private-tools-entity-view">Entity: </label>
        <textarea id="private-tools-entity-view" wrap="off"></textarea>
    </fieldset>
    <fieldset>
        <legend>Create Entity</legend>

        <label for="private-tools-entity-type">Entity Type: </label>
        <input id="private-tools-entity-type" type="text" list="private-tools-entity-types" autocomplete="off" />
        <datalist id="private-tools-entity-types"></datalist>

        <label for="private-tools-entity-template">Template: </label>
        <textarea id="private-tools-entity-template" wrap="off"></textarea>
    </fieldset>
</div>
