*:focus { outline: none; }
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	overflow-x: auto;
	overflow-y: scroll;
	color: $text-color;
	background-color: $background-color;
	font-kerning: normal;
	text-shadow: 0 0 .07rem rgba(0,0,0,.3);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	counter-reset: fig tbl;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, %vertical-rhythm { margin-bottom: $spacing-unit / 2; }
h1, h2, h3, h4, h5, h6 { font-weight: 500; }
.post-content {
	h2, h3, h4 {
		&::before {
			content: ''; display: block; position: relative; width: 0; height: 50px; margin-top: -50px;
		}
	}
}

blockquote > *:last-child {
	margin-bottom: 0 !important;
}

label.button, button {
	display: inline-block;
	margin: 0 .1em;
	padding: .4em .6em;
	border: 1px solid rgba(63,63,63,.25);
	box-shadow: 0 1px 0 rgba(63,63,63,.25);
	font: $base-font-weight .9rem/1 $base-font-family;
	text-shadow: 0 0 .07rem rgba(0,0,0,.3);
	background-color: #fff;
	color: #333;
	border-radius: 3px;
	white-space: nowrap;
	user-select: none;

	&:hover { background-color: $hover-color; }
	&:active { box-shadow: none; transform: translateY(1px); }
}

img {
	max-width: calc(100% - (#{$spacing-unit} *2));
	margin: $spacing-unit auto;
	cursor: pointer;
}

figure { margin: $spacing-unit 0; }
figure > img { display: block; }

figcaption, caption {
	display: block;
	font-size: $small-font-size;
	text-align: center;
	margin-bottom: $spacing-unit * 2;
	color: #aaa;
}
figcaption::before {
	counter-increment: fig;
	content: "Figure "counter(fig);
	font-size: $small-font-size;
	font-weight: 300;
	background: #eaeaea;
	border-radius: 3px;
	padding: 4px 7px;
	margin-right: 6px;
	color: #383838;
}
caption::before {
	counter-increment: tbl;
	content: "[Table "counter(tbl) "] ";
	font-size: $small-font-size;
	font-weight: 600;
}

.katex-display {
	margin: $spacing-unit 0 !important;
}

ul, ol { margin: $spacing-unit 0 $spacing-unit $spacing-unit; }
li {
	> ul,
	> ol { margin-top: .6em; margin-bottom: .6em; }
}
li:not(:last-child) {
	margin-bottom: .6em;
}

p { margin: 0 0 .6em 0; }

sup, sub { line-height: 1; }

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	.social-media-list &:hover {
		text-decoration: none;
		.username {
			text-decoration: underline;
		}
	}
}

code {
	margin: 0; padding: .2em .4em;
	display: inline-block;
	background: rgba(27,31,35,.05); border-radius: 3px;
	line-height: 1.2; font-family: consolas; font-size: .9rem;
}

pre {
	margin: 0;
	padding: 1em;
	font-family: consolas;
	overflow-x: auto;

	> code {
		border: 0;
		padding: 0;
		background: none;

		table {
			margin: 0;
			border: 0;
			td {
				padding: 0;
				border: 0;
				> pre {
					padding: 0 1em;
				}
				.lineno {
					color: #ccc;
					user-select: none;
					text-align: right;
				}
			}
		}
	}
}

strong {
	font-weight: 600;
	box-shadow: inset 0 -6px 0 #ffee58;
}

.highlight pre {
	tab-size: 4;
}

table {
	margin: $spacing-unit 0;
	width: 100%;
	text-align: $table-text-align;
	color: $text-color;
	border-collapse: collapse;
	border: 1px solid $gray-light;
	tr {
		&:hover { background: $hover-color; }
	}
	th, td {
		padding: ($spacing-unit / 3) ($spacing-unit / 2);
		&.header { background: whitesmoke; font-weight: 600; }
		&.fit-width { width: 1%; white-space: nowrap; }
		border: 1px solid darken($gray-light, 4%);
	}
	th {
		background-color: lighten($gray-light, 5%);
		text-align: center;
	}
	thead {
		border-bottom: 2px solid darken($gray-light, 9%);
	}
	tfoot {
		td {
			background-color: lighten($gray-light, 5%);
		}
	}
}

hr {
	margin: 5em 0; width: 100%; box-sizing: border-box;
	border-top: none; border-bottom: 1px solid #ddd;
}

.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #{$gray}; padding-right: 5px; vertical-align: text-top; }
.social-media-list {
	li + li {
		padding-top: 5px;
	}
}

demo {
	display: block;
	margin: $spacing-unit 0;
	padding: 1em;
	line-height: 1.2;
	font-family: consolas;
	font-size: .9rem;
	overflow: auto;
	border: solid 1px #ddd;
	border-radius: 3px;
}
demo.console {
	background-color: #1d1f21;
	color: #fff;
	white-space: pre;
	border: none;
}

a.footnote:before {
	content: '';
	display: inline-block;
	position: relative;
	height: 120px;
	margin-top: -120px;
}

textarea { font-family: consolas; }
input { font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family; }

.hidden { display: none; }
.monofont { font-family: consolas; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }
